@import url('https://fonts.googleapis.com/css?family=Times%20New%20Roman:700|Roboto:400');


/* ------------------------------------------------------------------------------------------*/
/*  Starting */
:root {
  --dark: #191919;
  --light: #F8F8FF;
  --primary: #001b41;
  --primaryhover: #144d87;
  --secondary: #42b4ed;
  --accent: #E45439;
  --accenthover: #bc3c29;
  --primary-gray: #D2D4DF;
    --error-delete: #ff0000;
  --error-delete-hover: #b50000;
}

html, body{
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    color: var(--primary);
}

body {
    display: flex;
    flex-direction: column;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.7); /* semi-transparent black */
}
/* ------------------------------------------------------------------------------------------*/

/* ------------------------------------------------------------------------------------------*/
/* Fonts & Texts styling */
@font-face {
    font-family: 'Antonio';
    src: url('../fonts/Antonio-oft/Antonio-Bold.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5 {
    font-family: 'Times New Roman', sans-serif;
    font-weight: 700;

}

h1, h2, h3, h4, h5, p, a, button, svg{
    color: var(--dark) ;
    margin: 0;
    padding: 0;
}

label{
    opacity: 75%;
    font-size: .75em;
}

html {
  font-size: 100%;
}

h1 {
  font-size: clamp(2em, 4vw + 1em, 4.21em);
}

h2 {
  font-size: clamp(1.75em, 3vw + 0.5em, 3.158em);
}

h3 {
  font-size: clamp(1.5em, 2.5vw + 0.5em, 2.369em);
}

h4 {
  font-size: clamp(1.25em, 2vw + 0.25em, 1.777em);
}

h5 {
  font-size: clamp(1em, 1.5vw + 0.25em, 1.333em);
}

small {
  font-size: clamp(0.875em, 1vw + 0.25em, 1em);
  display: block;
}

a{
    text-decoration: none;
    color: var(--primary);
}

a:hover{
    color: var(--secondary);
}

input{
    padding: .5rem .25rem;
    border: 2px solid var(--primary-gray);
    border-radius: .5rem;
}

header{
    display: flex;
    color: var(--light);
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    min-height: 10vh;
    margin-inline: 0;
    background-image: linear-gradient(to bottom, var(--dark), rgba(0, 0, 0, 0));
}

header nav{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    gap: 1rem;
}

header *{
    color: var(--light);
}

header img{
    width: 80px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: var(--primary-gray) ;
}

.content-container {
    flex: 1;
    display: flex;
    padding:0 0 2rem 0;
    margin: 0;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
/* ------------------------------------------------------------------------------------------*/

/* ------------------------------------------------------------------------------------------*/
/* login styling and signup card*/
.login-card, .signup-card{
    padding: 3rem ;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 480px;
    max-width: 60%;
    margin-block: 3rem;
    border: 5px solid var(--primary);
    border-radius: 2rem;
}

.login-card form, .signup-card form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.login-card form a{
    text-decoration: underline;
}
/* ------------------------------------------------------------------------------------------*/

/* ------------------------------------------------------------------------------------------*/
/* buttons styling */

.primary-button{
    cursor: pointer;
    padding: .5rem  1rem;
    font-size: 1rem;
    background-color: var(--secondary);
    border: 2px solid var(--secondary);
    border-radius: 0.5rem;
    color: var(--light);
    transition: background-color 0.3s ease-out, border-color 0.15s ease-out, color 0.4s ease-out;
}

.primary-button:hover{
    background-color: var(--primaryhover);
    border: 2px solid var(--primaryhover);
}

.secondary-button{
    cursor: pointer;
    padding: .5rem  1rem;
    font-size: 1rem;
    background-color: transparent;
    border: 2px solid var(--secondary);
    border-radius: 0.5rem;
    transition: background-color 0.3s ease-out, border-color 0.15s ease-out, color 0.4s ease-out;
}

.secondary-button:hover{
    background-color: var(--primaryhover);
    border: 2px solid var(--primaryhover);
    color: var(--light);
}

.accent-button{
    display:inline-flex;
    align-items: center;
    cursor: pointer;
    padding: .5rem  1rem;
    font-size: 1rem;
    color: var(--light);
    border: 2px solid var(--accent);
    background-color:  var(--accent);
    border-radius: 0.5rem;
    transition: background-color 0.3s ease-out, border-color 0.15s ease-out, color 0.4s ease-out;
}

.accent-button:hover{
    background-color: var(--accenthover);
    border: 2px solid var(--accenthover);
    color: var(--light);
}

.accent-button:hover{
    background-color: var(--accenthover);
    border: 2px solid var(--accenthover);
    color: var(--light);
}

.button-container{
    display: inline;
    align-self: flex-end;
    gap: 0.5rem;
    margin-top: 1rem;
}

.error-button{
    display:inline-flex;
    align-items: center;
    cursor: pointer;
    padding: .5rem  1rem;
    font-size: 1rem;
    color: var(--light);
    border: 2px solid var(--error-delete);
    background-color:  var(--error-delete);
    border-radius: 0.5rem;
    transition: background-color 0.3s ease-out, border-color 0.15s ease-out, color 0.4s ease-out;
}

.error-button:hover{
    background-color: var(--error-delete-hover);
    border: 2px solid var(--error-delete-hover);
    color: var(--light);
}
/* ------------------------------------------------------------------------------------------*/

/* ------------------------------------------------------------------------------------------*/
/* Signup styling*/
.signup-card span, .signup-card ul{
    display: none;
}

.signup-card form small{
    display: block;
    color: red;
}

.form-field{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* ------------------------------------------------------------------------------------------*/


/* ------------------------------------------------------------------------------------------*/
/* sections and hero styling */
.hero-section{
    display: flex;
    width: 100%;
    height: 90vh;
    justify-content: space-evenly;
    align-items: center;
}

.hero-section *{
    color: var(--light);
}

.text-wrapper {
    max-width: 75%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


.hero-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: -1;
    object-fit: cover;
    filter: brightness(50%);
}
/* ------------------------------------------------------------------------------------------*/


/* ------------------------------------------------------------------------------------------*/
/* Events home styling */
.events-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 2rem;
    justify-content: start;
    align-items: center;
    padding-block: 3rem;

}

.events-section h1, .events-section a{
        color: var(--primary);
}

/* ------------------------------------------------------------------------------------------*/

/* ------------------------------------------------------------------------------------------*/
/* Event-card styling*/
.events-container{
    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: center;
}

.event-card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    width: clamp(200px, 50%, 400px);
    border: 3px solid var(--primary);
    justify-content: space-between;
    border-radius: 2rem;
}

#event-link{
    text-decoration: underline;
}

#event-link:hover{
    color: var(--secondary);
}


/* ------------------------------------------------------------------------------------------*/
/* Event-title-page styling*/
.event-title-page{
    /*background-color: yellow;*/
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    padding-block: 2rem;
}

.event-title-page div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block: 2rem;
    align-items: center;
}

.events-elements-section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    gap: 5rem;
}

.events-elements-section span {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
    border-bottom: 2px dotted var(--primary);
}


.element-wrapper{
    gap: 1.5em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
    border: none;
    background-color: transparent;
    padding: 2rem;
    transition: background-color 0.3s ease-out, border-color 0.15s ease-out, color 0.4s ease-out;
}


.element-wrapper:hover{
    border-radius: 10px;
    background-color: var(--primary-gray);
    border: none;
}
dialog {
    border: none;
    border-radius: 12px;
    padding: 2rem;
    width: clamp(200px, 50%, 400px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    font-family: 'Arial', sans-serif;

}

dialog h3, h5{
    margin-bottom: 1em;
}

dialog form{
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 80%;
    align-items: start;
}


dialog form input, dialog form select, #id_date, #id_time{
    position: relative;
    width: clamp(200px, 50%, 400px);
    min-height: 20px;
    padding: .5em .25em;
}


dialog form .button-container {
    display: inline;
    align-self: end;
    gap: 0.5rem;
    margin-top: 1rem;
}

.program-container {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.events-footer-section{
    margin-block : 5rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 80%;
}

.ellipsis-menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

svg{
    transition: fill 0.2s ease-out;
}

svg:hover{
    fill: var(--primary-gray);
}



/* ------------------------------------------------------------------------------------------*/

/* Mobile View */
@media (max-width: 480px){
     h2, h3{
        text-align: center;
    }

    .login-card, .signup-card{
        padding: 2em 2em;
    }

    .hero-container{
        flex-direction: column-reverse;
        gap: 2rem;
    }

    header img{
        width: 48px
    }

    button{
        font-size: .75em;
    }

}