name: Build to Docker Hub And Deploy to K8s

on:
  push:
    branches: ["main"]
  workflow_dispatch:

env:
  dh-repo: elflordgames/brunneus-ferrum-malleus
jobs:
  build:
    environment: Production
    runs-on: ubuntu-latest

    steps:
      - name: Get the current date
        id: date
        run: echo "today=$(date +'%Y-%m-%d-%H-%M')" >> $GITHUB_OUTPUT
        # https://docs.github.com/en/actions/reference/workflows-and-actions/contexts#steps-context

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - uses: actions/checkout@v4
      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag "${{ env.dh-repo }}:${{ github.run_number }}"
      # - name: Start Database (for testing)
      #   run: docker compose up -d
      # - name: Run Django tests
      #   run: docker run --env TEST="True" --env DATABASE_NAME="${{ vars.DATABASE_NAME }}" "${{ env.dh-repo }}:${{ github.run_number }}"
      # - name: Stop Database
      #   run: docker compose down
      - name: Push to Docker Hub
        run: docker push "${{ env.dh-repo }}:${{ github.run_number }}"

  deploy:
    runs-on: ubuntu-22.04
    needs: [build]
    steps:
      - uses: actions/checkout@v3

      - name: Kubernetes Set Context
        uses: Azure/k8s-set-context@v3.0
        with:
          method: kubeconfig
          kubeconfig: ${{secrets.K8S_CONFIG}}

      # - uses: azure/k8s-create-secret@v2
      #   with:
      #     namespace: "default"
      #     secret-type: "generic"
      #     secret-name: DATABASE_NAME
      #     data: ${{ vars.DATABASE_NAME }}

      - name: Deploy to Kubernetes cluster
        uses: Azure/k8s-deploy@v4.9
        with:
          images: "${{ env.dh-repo }}:${{ github.run_number }}"
          skip-tls-verify: true
          manifests: |
            k8s/db-deployment.yaml
            k8s/db-service.yaml
            k8s/pg-data-persistentvolumeclaim.yaml
            k8s/nginx-config.yaml
            k8s/web-deployment.yaml
            k8s/web-service.yaml
            k8s/dev/ingress.yml
