apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.cmd: C:\Users\oreom\.local\bin\kompose.exe convert
    kompose.version: 1.34.0 (cbf2835db)
  labels:
    io.kompose.service: db
  name: db
spec:
  ports:
    - name: "5432"
      port: 5432
      targetPort: 5432
  selector:
    io.kompose.service: db
