/*
Dark blue
 #001B41

Columbia Blue
  #42B4ED
Brown
 #884A1C

SandStorm
 #E3D8B4

Red Accent
 #E45439 */

body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    padding: 20px;
  }

  h1 {
    color: #ffffff;
    font-size: 40px;
    font-family: Antonio;
    background-color: #001B41;
  }

  h2 {
    padding: 0px 0;
    color: #001B41;
    margin: 0;
    font-size: 40px;
    font-family: Antonio;
  }

.top-banner {
  background-color: #001B41;
  color: #ffffff;
  padding: 12px 20px;
  text-align: center;
  font-size: 66px;
  font-weight: bold;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Antonio, sans-serif;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.top-banner h1 {
  margin: 0;
  font-size: 30px;
}

.top-banner .button-group {
  display: flex;
  gap: 10px;
}

.top-banner button {
  background-color: #42B4ED;
  border: none;
  color: black;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.top-banner form {
  background-color: #42B4ED;
  border: none;
  color: black;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
.editor-container {
    display: flex;
    justify-content: center; /* centers horizontally */
    margin-top: 20px; /* optional spacing */
}

#editor {
    height: 2000px;
    width: 1000px;
    border: 1px solid #ccc; /* optional */
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}


  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    background: rgb(219, 93, 93);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

  button {
    background-color: #42B4ED;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

img {
  max-width: 100%;
  height: auto;
  max-height: 400px;
  border-radius: 4px;
  display: block;
  margin: 10px auto;
  border: 3px solid #001B41;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);

}

.button-link {
  display: inline-block;
  background-color: #42B4ED;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}
.button-link:hover {
  background-color: #3aa3d8;
}




