{% extends "leaflet/leaflet_base.html" %}

{% block title %}
	Event | Leaflet
{% endblock %}

{% block content %}
    <form action="{% url 'event_builder' %}" method="post">
    <div class="login-card">
        <h3>Event Builder</h3>
        {% csrf_token %}
        {{ form }}

        <div class="button-container">
            <button class="secondary-button" type="button" onclick="window.location.href='{% url 'home' %}'">Cancel</button>
            <button class="primary-button" type="submit">Create</button>
        </div>
        </div>
    </form>
{% endblock %}