<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <title>Arts & Cultures App</title>
        <style>
            .my_button {
                width: 150px;
                height: 35px;
            }
        </style>

    </head>
    <body style="z-index: 1; position: relative">

        <div class="main_view" style="position: relative">
            <div class="sidebar" id="sidebar">
                <div class="sidebar-app-title">
                    <a href=""><button class="my_button">Home</button></a>
                </div>
                
                <div class="sidebar-app-title">
                    <a href="/events/"><button class="my_button">Events</button></a>
                </div>
            </div>
        </div>

    </body>

    <footer class="footer">
    <div class="container" id="footer">
        <span>© 2025 Bob Jones University</span>
    </div>
</footer>
</html>