name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # Log in to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Build the image
      - name: Build Docker Image
        run: |
          IMAGE_TAG=$(date +%s)
          docker build ./Ctrl_Alt_Dlt \
            --file ./Ctrl_Alt_Dlt/Dockerfile \
            --tag dhayms386/project-2025-ctrl-alt-delete:${IMAGE_TAG}
          echo "IMAGE_TAG=${IMAGE_TAG}" >> $GITHUB_ENV

      # Push the image to Docker Hub
      - name: Push to Docker Hub
        run: |
          docker push dhayms386/project-2025-ctrl-alt-delete:${IMAGE_TAG}
